<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/form.css" />
    <link rel="stylesheet" href="/css/auth.css" />

    <%- include('../includes/navigation.ejs') %>
        <main>
        <form class="login-form" action="/login" method="POST" novalidate>
            <h1 class="auth-title">Login Page</h1>
            <% errorMessage.forEach(error => {%>
              <div class="user-message user-message--error"><%= error %></div><br>
            <% }); %>
            <div class="auth-form">
              <div class="form-control">
                <input type="hidden" name="_csrf" value="<%= csrfToken %>"/>
                <label for="email">E-Mail</label>
                <input type="email" name="email" id="email"/>
                <label for="password">Password</label>
                <input type="password" name="password" id="password"/>
              </div>
              <button type="submit">Login</button><br>
              <a href="/reset-password">forgot Password</a>
            </div>
        </form>

<%- include('../includes/end.ejs') %>