<%- include('../includes/head.ejs') %>

    <%- include('../includes/navigation.ejs') %>
        <main class="centered">
        <h1><%= product.name %></h1>
        <hr>
        <div class="card__image">
            <img src="<%= product.imageUrl %>" alt="<%= product.name %>"/>
        </div>
        <div class="card__content">
            <h2><%= product.price %></h2>
            <p><%= product.description %></p>
        </div>
        <% if(isAuthenticated) {%>
            <%- include('../includes/add-to-cart.ejs') %>
        <% } %>

<%- include('../includes/end.ejs') %>